[MQTT]
broker = 158.180.44.197
port = 1883
username = bobm
password = letmein

[TOPICS]
topics = iot1/teaching_factory_fast/dispenser_red, 
         iot1/teaching_factory_fast/dispenser_red/vibration, 
         iot1/teaching_factory_fast/temperature, 
         iot1/teaching_factory_fast/dispenser_blue,
         iot1/teaching_factory_fast/dispenser_blue/vibration,
         iot1/teaching_factory_fast/dispenser_green,
         iot1/teaching_factory_fast/dispenser_green/vibration,
         iot1/teaching_factory_fast/scale/final_weight,
         iot1/teaching_factory_fast/drop_vibration,
         iot1/teaching_factory_fast/ground_truth
